.headerIcon {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-top: 22px;
}

.github {
  background-color: #e9e9e9;
  padding: 11px;
  margin-right: 15px;
  border-radius: 5px;
}

.night {
  background-color: #e9e9e9;
  padding: 12px;
  margin-right: 35px;
  border-radius: 5px;
}

.timer {
  background-color: #f9f9f9;
  height: 313px;
  width: 431px;
  margin: 0 auto;
}

.title {
  margin-top: 111px;
  margin-bottom: 35px;
  text-align: center;
  font-size: 22px;
  font-weight: 400;
}

.clocks {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 44px;
}

.hour {
  padding: 2px 27px 2px 27px;
  font-size: 45px;
  border: 1px solid #dbdbdb;
  margin-right: 30px;
  border-radius: 4px;
  margin-bottom: 12px;
}

.minutes {
  padding: 2px 27px 2px 27px;
  font-size: 45px;
  border: 1px solid #dbdbdb;
  margin-right: 30px;
  margin-bottom: 12px;
}

.seconds {
  padding: 2px 27px 2px 27px;
  font-size: 45px;
  border: 1px solid #dbdbdb;
  margin-bottom: 12px;
}

.hourText {
  text-align: center;
  margin-right: 30px;
}

.minutesText {
  text-align: center;
  margin-right: 30px;
}

.secondsText {
  text-align: center;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    height: 10px;
    width: 431px;
    background-color: #fd6259;
    top: 100px;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.start {
  background-color: #03ae85;
  color: #fff;
  padding-top: 10px;
  padding-left: 31px;
  padding-right: 32px;
  padding-bottom: 10px;
  text-transform: uppercase;
  border: none;
  font-size: 18px;
  border-radius: 5px;
  margin-right: 15px;
  cursor: pointer;
  opacity: 0.8;
  &:hover {
    opacity: 1;
  }
}

.pause {
  background-color: #fff;
  color: #000;
  padding-top: 10px;
  padding-left: 31px;
  padding-right: 32px;
  padding-bottom: 10px;
  text-transform: uppercase;
  border: 1px solid #d1d1d1;
  font-size: 18px;
  border-radius: 5px;
  margin-right: 15px;
  cursor: pointer;
  opacity: 0.8;
  &:hover {
    opacity: 1;
  }
}

.reset {
  background-color: #fd6259;
  color: #fff;
  padding-top: 10px;
  padding-left: 31px;
  padding-right: 32px;
  padding-bottom: 10px;
  text-transform: uppercase;
  border: none;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0.8;
  &:hover {
    opacity: 1;
  }
}
